include ../../elements/button/button

section.container-epsilon
  div.container-epsilon__inner
    h2.container-epsilon__title A message followed by a way to get in touch

    p.container-epsilon__description + 44 (0) 1234 567 890 

    div.container-epsilon__button
      +button({ name: 'Button Text', mod: ['dark'] })
