{% import '_elements' as elements %}
{% set data = craft.entries.section('homePage').one().containerDeltaFields.one() %}

{% set item = {
  imgUrl: '/images/' ~ data.itemImage.one().filename,
  title: data.itemTitle,
  description: data.itemDescription,
  link: {
    name: data.itemLinkName,
    url: data.itemLinkUrl,
  }
} %}

<section class="container-delta">
  <img class="container-delta__img" src="{{ item.imgUrl }}"/>
  <div class="container-delta__content">
    <h2 class="container-delta__title">{{ item.title }}</h2>
    <p class="container-delta__description">{{ item.description|raw }}</h2>
    <div class="container-delta__arrow-link">
      {{ elements.arrowLink({ underline: false, url: item.link.url, name: item.link.name }, 'light') }}
    </div>
  </div>
</section>
