{% import '_elements' as elements %}

{% set data = craft.entries.section('homePage').one().containerEpsilonFields.one() %}

{% set item = {
  title: data.itemTitle,
  description: data.itemDescription,
  link: {
    name: data.itemLinkName,
    url: data.itemLinkUrl,
  }
} %}

<section class="container-epsilon">
  <div class="container-epsilon__inner">
    <h2 class="container-epsilon__title">{{ item.title }}</h2>
    <p class="container-epsilon__description">{{ item.description }}</h2>
    <div class="container-epsilon__button">
      <a href="{{ item.link.url }}">{{ elements.button(item.link.name, 'dark') }}</a>
    </div>
  </div>
</section>
