@import './reset';
@import './media-breakpoints';
@import './typography';
@import './colors';

// Layout style

body {
  margin: 0 auto;
  width: 1440px; // should be replaced by max-width: 1440px; when we ready to work on responsive features
}

* {
  box-sizing: border-box;
}

.pd {
  padding: 8px;
}

// Common elements

@import '../elements/arrow-link/arrow-link.style';

// Components

@import '../components/header/style';
@import '../components/container-alpha/style'
