.nav {
  display: flex;
  align-items: center;

  &-desktop {
    display: none;
    @include media-desktop {
      display: flex;
    }

    height: $top-menu-height-desktop;
    justify-content: space-around;
  }

  &-tablet {
    display: none;

    @include media-tablet {
      display: flex;
    }

    height: $top-menu-height-tablet;
    justify-content: space-between;
    padding: 0 40px;

    @include media-mobile {
      position: relative;
      justify-content: center;
    }
  }

  &-link {
    > span {
      display: block;
    }

    @include font('Leiko', 18);

    display: block;
    display: flex;
    align-items: center;

    color: $c-primary-dark;
    height: 100%;
    margin: 0 12px;

    border-bottom: 5px transparent solid;
    border-top: 5px transparent solid;

    transition-property: border-bottom-color, color;
    transition-duration: 250ms;

    &:hover {
      border-bottom-color: $c-primary-dark;
    }

    &.active {
      border-bottom-color: $c-orange;
    }

    &:active {
      color: lighten($c-primary-dark, 15%);
    }
  }

  &-logo {
    width: 140px;
    height: 60px;
    background-position: center;
  }

  &__phone {
    @include media-mobile {
      position: absolute;
      top: 20px;
      left: 20px;
    }
  }

  &__hamburger {
    &-tablet {
      display: none;

      @include media-tablet {
        display: block;
      }

      @include media-mobile {
        display: none;
      }
    }

    &-mobile {
      display: none;

      @include media-mobile {
        display: block;
      }

      position: absolute;
      top: 20px;
      right: 20px;
    }
  }
}
