include ../../elements/tab-button/tab-button
include ../../elements/arrow-link/arrow-link

mixin listItem({ imgSrc })
  div.container-gamma__item
    img(src=imgSrc).container-gamma__img
    h3.container-gamma__title
      | This is a wide container title stretching two lines.
    p.container-gamma__description
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
      | sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipiscing.

    div.container-gamma__arrow-link.font-heading-xs
      +arrowLink({ name: 'Link & Arrow', href: '#', mod: ['dark']})

section.container-gamma
  div.container-gamma__items
    +listItem({ imgSrc: '/assets/images/container-image-1.png' })
    +listItem({ imgSrc: '/assets/images/container-image-2.png' })
    +listItem({ imgSrc: '/assets/images/container-image-3.png' })
