.container_alpha {
  position: relative;
  color: $c-primary-light;
  background-size: cover;
  height: 715px;
  min-height: 600px;

  @include media-tablet {
    height: calc(100vh - #{$top-menu-height-tablet});
  }

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparentize($c-primary-dark, 0.18);
  }

  &__inner {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;

    height: 100%;
    padding-top: 7%;
    padding-left: 24px;
    padding-right: 24px;

    @include media-mobile {
      padding-top: 10%;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    max-width: 600px;
    margin: 0 auto;

    @include media-tablet {
      padding: 0px;
    }

    text-align: center;

    > h2 {
      @include font('Leiko', 56);

      @include media-mobile {
        @include font('Leiko', 32);
      }
    }

    > p {
      @include font('Tinos', 18);

      @include media-mobile {
        @include font('Tinos', 16);
      }

      margin-top: 30px;
    }

    > div {
      @include font('Leiko', 18);

      @include media-mobile {
        @include font('Leiko', 14);
      }

      margin-top: 60px;

      @include media-tablet {
        .arrow-link__underline {
          display: none;
        }
      }
    }
  }

  &__tab-buttons {
    display: flex;
    justify-content: center;
  }

  &__tab-btn {
    @include font('Leiko', 18);

    > span:nth-child(1):after {
      content: ' ';
    }

    padding: 40px 0;
    margin: 0 40px;
    color: $c-grey-dark;
    cursor: pointer;

    border-bottom: 5px transparent solid;
    border-top: 5px transparent solid;

    &:hover {
      border-bottom-color: $c-primary-dark;
    }

    &.active {
      color: $c-primary-light;
      border-bottom-color: $c-orange;

      > span:nth-child(1) {
        color: $c-orange;
      }
    }

    @include media-mobile {
      text-align: center;
      padding: 0px 0px 12px 0px;
      margin: 0px 0px 40px 0px;

      & + & {
        margin-left: 40px;
      }

      > span:nth-child(1) {
        display: block;
        &:after {
          content: none;
        }
      }
    }
  }
}
