section.container-map
  div.container-map__map
    div(style="background-image: url('/assets/images/container-map.png')").container-map__img
    div.container-map__location-pin
      include ../../assets/icons/location-pin.svg