$img-ratio: 5/12;
$max-width: 1200px;

.container-map {
  &__map {
    position: relative;
    margin: 0 auto;
    width: $max-width;
    height: ($max-width * $img-ratio);

    @media (max-width: $max-width) {
      width: 100%;
      height: calc(100vw * #{$img-ratio});
    }
  }

  &__img {
    width: 100%;
    height: 100%;

    background-position: center;
  }

  &__location-pin {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    width: 75px;
    height: 90px;
  }
}
