extends layout.pug

block header
  include components/header/index

block main
  include components/container-alpha/index
  include components/container-beta/index
  include components/container-gamma/index

block footer
  script(src="js/index.js")
