extends layout.pug

block header
  include components/header/index

block main
  include components/container-alpha/index
  include components/container-beta/index
  include components/container-gamma/index
  include components/container-delta/index
  include components/container-epsilon/index
  include components/container-map/index

block footer
