extends layout.pug

block body
  section(style="padding: 24px")
    h1.font-heading-xxl Solvd test case project
    br

    mixin link(path, description)
      li
        a(href=`http://localhost:3000${path}`)= description

    ul(style="text-decoration: underline").font-heading-lg.color--primary-dark
      +link('/styleguide.html', 'Project style guide')
      +link('/home.html', 'Home page layout')
