doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/fonts.scss")
    link(rel="stylesheet", href="css/styles.scss")
    script(src="js/index.js")
  header
    block header
  body
    main
      block main
  footer
    block footer
