doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/styles.scss")
  body
    section
      h1 Typography
      ul
        li.font-leiko .font-leiko Should be Leiko (Leiko-Regular)
        li.font-tinos .font-tinos Should be Tinos (Tinos-Regular)
        li.font-tinos-bold .font-tinos-bold Should be Tinos-Bold
        li.font-tinos-italic .font-tinos-italic Should be Tinos-Italic
        li.font-tinos-bold-italic .font-tinos-bold-italic Should be Tinos-BoldItalic

  footer