$max-width: 1200px;

.footer {
  max-width: $max-width;
  margin: 0 auto;
  padding-top: 40px;
  color: $c-primary-dark;

  @media (max-width: $max-width + 80px) {
    max-width: auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 60px;
  }

  @include media-mobile {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
  }

  &__up {
    padding: 50px 0px;
    border-top: 1px solid $c-primary-dark;

    display: flex;
    
    @include media-tablet {
      flex-direction: column-reverse;
      align-items: center;
    }

    @include media-mobile {
      padding: 45px 0;
    }
  }

  &__menu {
    display: flex;
    flex-grow: 1;


    &-item {
      width: 26%;
    }

    &-item + &-item {
      margin-left: 1.5em;
    }

    @include media-tablet {
      flex-direction: column-reverse;
      align-items: center;
      text-align: center;

      &-item {
        width: auto;
      }

      &-item + &-item {
        margin-left: 0;
      }

      &-item {
        margin-top: 60px;
      }
    }
  }

  &__title {
    @include font('Leiko', 18);
  }

  &__content {
    @include font('Leiko', 14);
    margin-top: 22px;
  }

  &__link {
    display: block;
  }

  &__link + &__link {
    margin-top: 0.7em;
  }

  &__social {
    display: flex;

    &-link + &-link {
      margin-left: 28px;
    }

    &-link {
      width: 24px;

      svg {
        width: 100%;
      }
    }
  }

  &__down {
    @include font('Tinos', 12);

    padding: 2em 0;
    border-top: 1px solid $c-primary-dark;
    display: flex;

    > div {
      &:nth-child(1) {
        flex-grow: 1;
      }
    }

    &-link + &-link {
      margin-left: 2em;
    }

    @include media-tablet {
      justify-content: space-between;

      > div {
        &:nth-child(1) {
          flex-grow: 0;
        }

        &:nth-child(2) {
          text-align: right;
        }
      }
  
      &-link + &-link {
        margin-left: 0;
        margin-top: 3em;
      }

      &-link {
        display: block;
      }
    }

    @include media-mobile {
      &-link + &-link {
        margin-top: 2em;
      }
    }
  }
}