.container-beta {
  color: $c-primary-dark;
  padding: 40px 20px;

  &__info {
    max-width: 564px;
    margin: 0 auto;
    padding-top: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    @include media-mobile {
      padding-top: 0px;
    }

    > h2 {
      @include font('Leiko', 56);

      @include media-mobile {
        @include font('Leiko', 32);
      }
    }

    > p {
      @include font('Tinos', 18);
      padding-top: 30px;

      @include media-mobile {
        @include font('Tinos', 16);
      }
    }

    > div {
      padding-top: 60px;

      @include media-mobile {
        padding-top: 60px;
      }
    }
  }

  &__tab-controls {
    padding-top: 64px;
    display: flex;
    justify-content: center;

    > button + button {
      margin-left: 30px;
    }
  }
}
